.home {
  padding: 10px;
  background: #e5ea48;
  background: -webkit-linear-gradient(#e5ea48, #aef148);
  background: -o-linear-gradient(#e5ea48, #aef148);
  background: -moz-linear-gradient(#e5ea48, #aef148);
  background: linear-gradient(#e5ea48, #aef148);
}

.services-message {
  font-family: 'koyu';
  font-size: 28px;
  color: #f51484;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

/*.sps-button-container.game-link a:hover {
  color: #3AB4FF;
  text-shadow: 2px 2px 0px #F51484;
  background-color: #6E1F75;
}

.sps-button-container.services-link a:hover {
  color: #3AB4FF;
  text-shadow: 2px 2px 0px #F51484;
  background-color: #6E1F75;
}*/
.bad-ass-button .btn-shadow {
   background-image: url('{{site.github.url}}/assets/icons/Games-Consultancy-Services-Button-1400x200.svg');
 }
 .visit-button .visit-shadow {
   background-image: url('{{site.github.url}}/assets/icons/Visit-GameJolt-Store-Button-500x150_V3.svg');
  }
.social-links {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.social-links a {
  padding: 0 20px;
}

.social-links .icon {
  width: 100px;
  height: 100px;
}

.twitter .icon {
  background-image: url('../icons/Sweet-Pixel-Studio-Games-Twitter-Button100x100.svg');
}

.instagram .icon {
  background-image: url('../icons/Sweet-Pixel-Studio-Games-Instagram-Button100x100.svg');
}

.facebook .icon {
  background-image: url('../icons/Sweet-Pixel-Studio-Games-Facebook-Button.svg');
}

.social-links a:hover .icon {
  background-position: -100px 0;
}

.boom:hover .icon {
  background-position: -6.6rem -8px;
}



.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-form input {
  background: transparent;
  font-size: 22px;
  padding: 14px;
  border: 5px solid #f51484;
  margin: 0 6px;
  color: #f51484;
  font-weight: bold;
}

.contact-form input::-webkit-input-placeholder {
  color: #f51484;
}

.contact-form input::-moz-placeholder {
  color: #f51484;
}

.contact-form input:-ms-input-placeholder {
  color: #f51484;
}

.contact-form input:-moz-placeholder {
  color: #f51484;
}

.contact-form input[type="email"] {
  width: 28%;
}

.contact-form .image {
  width: 100px;
  height: 100px;
}

.boom .image {
  background-image: url('{{ site.github.url }}/assets/icons/Indie-Games-Boom-Button-100x100.svg');
}

.Press-This .img-hand {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation: mymove 1.5s infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: linear;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@-webkit-keyframes mymove {
  0% {
    left: 0px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0px;
    right: 30px;
  }
}

.contact-form a:hover .image {
  background-position: -100px 0px;
}

.Playstation-Icons img {
  position: absolute;
  top: 317px;
  right: 9%;
  width: 25%;
}

.Such-Indie img {
  position: absolute;
  top: 117px;
  right: 74%;
  width: 20%;
}

.Pew-Pew img {
  position: absolute;
  top: 327px;
  right: 71%;
  width: 15%;
}

.Smiley img {
  position: absolute;
  top: 480px;
  right: 86%;
  width: 15%;
}

.Start img {
  position: absolute;
  top: 550px;
  right: 8%;
  width: 36%;
}

.Sniper-Scope-Cursor img {
  position: absolute;
  top: 13px;
  right: 0%;
  width: 23%;
}

.Loading-Bar img {
  position: absolute;
  top: 1242px;
  right: 8%;
  width: 18%;
}

.Sweet-Deadpool img {
  position: absolute;
  top: 2000px;
  right: 80%;
  width: 20%;
}


/*.gameover img{
  position: absolute; top: 2352px; right: 60%; width: 40%;
}*/


/*@media only screen and (max-width: 1440px) {

  .gameover img{
    position:  absolute;
    /*top: 1857px;
    right: 40%;
    width: 60%;
    top: 2417px;
position: absolute;
  }
  .Sweet-Deadpool img{
position: absolute;
    top: 2097px;
    right: 83%;
    width: 17%;
  
  }
  
 }*/

@media only screen and (max-width: 768px) {
  .Start img {
    position: absolute;
    right: 8%;
    width: 36%;
    top: 416px;
  }
  .Loading-Bar img {
    position: absolute;
    right: 8%;
    width: 18%;
    top: 933px;
  }
}

@media only screen and (max-width: 1024px) {
  /* .gameover img{
    position:  absolute;
    right: 40%;
    width: 60%;
    top: 1882px;

  }*/
  .Sweet-Deadpool img {
    position: absolute;
    top: 1567px;
    right: 81%;
    width: 19%;
  }
  .Playstation-Icons img {
    position: absolute;
    right: 9%;
    width: 25%;
    top: 308px;
  }
  .Start img {
    position: absolute;
    right: 8%;
    width: 36%;
    top: 433px;
  }
  .Smiley img {
    position: absolute;
    right: 86%;
    width: 15%;
    top: 375px;
  }
  .Pew-Pew img {
    position: absolute;
    right: 71%;
    width: 15%;
    top: 245px;
  }
  .Loading-Bar img {
    position: absolute;
    right: 8%;
    width: 18%;
    top: 957px;
  }
}
