.home {
  padding: 10px;
  background: #e5ea48;
  background: -webkit-linear-gradient(#e5ea48, #aef148);
  background: -o-linear-gradient(#e5ea48, #aef148);
  background: -moz-linear-gradient(#e5ea48, #aef148);
  background: linear-gradient(#e5ea48, #aef148);
}

.services-message {
  font-family: 'koyu';
  font-size: 28px;
  color: #f51484;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.social-links a {
  padding: 0 20px;
}

.social-links .icon {
  width: 64px;
  height: 64px;
}

.twitter .icon {
  background-image: url('{{site.github.url}}/assets/icons/Sweet-Pixel-Studio-Games-Twitter-Button-Spritesheet-64x64.svg');
}

.instagram .icon {
  background-image: url('{{site.github.url}}/assets/icons/Sweet-Pixel-Studio-Games-Instagram.svg');
  background-size: 100%;
}

.facebook .icon {
  background-image: url('{{site.github.url}}/assets/icons/Sweet-Pixel-Studio-Games-Facebook.svg');
  background-size: 100%;
}

.social-links a:hover .icon {
  background-position: -64px 0;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contact-form input {
  background: transparent;
  font-size: 22px;
  padding: 14px;
  border: 5px solid #f51484;
  margin: 0 6px;
  color: #f51484;
  font-weight: bold;
}

.contact-form input::-webkit-input-placeholder {
  color: #f51484;
}
.contact-form input::-moz-placeholder {
  color: #f51484;
}
.contact-form input:-ms-input-placeholder {
  color: #f51484;
}
.contact-form input:-moz-placeholder {
  color: #f51484;
}

.contact-form input[type="email"] {
  width: 28%;
}