@import url('/assets/css/header.css');
@import url('/assets/css/home.css');
@import url('/assets/css/services.css');
@import url('/assets/css/about.css');
@font-face {
  font-family: 'extended';
  src: url(/assets/fonts/futura-extended.ttf);
}

@font-face {
  font-family: 'oblique';
  src: url(/assets/fonts/futura-oblique.ttf);
}

@font-face {
  font-family: 'koyu';
  src: url(/assets/fonts/futura-koyu.ttf);
}

body {
  background-color: #ddd;
  margin: 0;
}

.banner {
  width: 40%;
  margin: 0 auto;
}

.banner img {
  width: 100%;
}

.img-center {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.game-container {
  position: relative;
}
.test-div {
    border:2px solid #ceed48;
    width:100%;
}
.test-div-inner {
    padding-bottom:50%;
    height:0;
    position:relative;
}

.button4 {
  display: flex;
  justify-content: center;
}

.button4 .share-shadow {
  width: 400px;
  height: 71px;
}

.button4 a:hover .share-shadow {
  background-position: -391px 0px;
}
.button3 {
  display: flex;
  justify-content: center;
}

.button3 .touch-shadow {
  width: 497px;
  height: 100px;
}

.button3 a:hover .touch-shadow {
  background-position: -500px 0px;
}

.button2 {
  display: flex;
  justify-content: center;
}

.button2 .visit-shadow {
  width: 250px;
  height: 75px;
}

.button2 a:hover .visit-shadow {
  background-position: -250px 0px;
}

.sps-button-container {
  z-index: 1;
  position: relative;
}
.button1 {
  display: flex;
  justify-content: center;
}


.button1 .btn-shadow {
  width: 700px;
  height: 100px;
}

.button1 a:hover .btn-shadow {
  background-position: -700px 0px;
}
/*.sps-button-container.game-link {
  position: absolute;
  width: 250px;
  bottom: 52px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sps-button {
  padding: 20px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 24px;
  width: 250px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  font-family: 'koyu';
  letter-spacing: 1px;
  color: #f51484;
  text-shadow: 2px 2px 0px #4EB9FF;
  box-shadow: 3px 3px 0px 1px #f51484;
}

.shadow {
  width: 252px;
  height: 75px;
  background-color: #a9165f;
  color: #101010;
  top: 6px;
  left: 6px;
  bottom: 6px;
  position: absolute;
  z-index: -1;
}

.sps-button-container.services-link {
  margin: 0 auto;
  display: block;
  width: 66%;
}

.sps-button.services-link {
  width: 100%;
  font-size: 36px;
}

.sps-button-container.services-link .shadow {
  width: 100%;
  height: 91px;
}
*/
.footer {
  /*margin-top: 140px;*/
  text-align: center;
  /*margin-bottom: 20px;*/
  color: #f2ff1e;
  font-family: koyu;
}
