.services {
  padding: 10px;
  background: #c93afe;
  background: -webkit-linear-gradient(#c93afe, #8b4ff8);
  background: -o-linear-gradient(#c93afe, #8b4ff8);
  background: -moz-linear-gradient(#c93afe, #8b4ff8);
  background: linear-gradient(#c93afe, #8b4ff8);
}

.touch-button .touch-shadow {
  background-image: url('/assets/icons/Get-In-Touch-Email-Button-1000x200_V3.svg');
}
.banner-text {
  text-align: center;
  color: #f2ff1e;
  font-size: 22px;
  font-family: koyu;
  letter-spacing: 2px;
  margin: 10px 0;
  line-height: 45px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 40px;
  
}

.service {
  width: 100%;
  margin: 0 20px;
}

.service .img-center {
  width: 100%;
}

.service .banner-text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 25px;
  font-family: extended;
  line-height: 36px;
  font-weight: bold;
}

/*
 @media only screen and (min-width: 767px) {
	.flex-row {
		display: block;
	}
	.service {
		width: 100%;
	}
}
 */

@media only screen and (max-width: 1000px) {

  .flex-row {
    display: block;
  }
  .service {
    width: 100%;
  }
  .flex-row p {
    padding-bottom: 40px;
  }
  .service .img-center{
    margin-left: -20px;
  }
 }
 /*@media only screen and (max-width: 768px) {
  .flex-row {
    display: block;
  }
  .service {
    width: 100%;

  }


}*/

/*@media only screen and (max-width: 500px) {
  .flex-row {
    display: block;
    background-color: #000;
  }
  .service {
    width: 100%;

  }

}*/